.newmovie{
  grid-row: 2/4
}
.audience{
  grid-column: 2/4
}
.chart{
  grid-row: 2/4;
  grid-column: 2/4
}
.audience .item{
  text-align: center;
  width: 30%;
  float: left;
  margin-right: 10px;
}
.news .news-title{
  padding: 5px 0px;
}
.news-title{
  display: block;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.view{
  overflow: hidden;
  background-color: #fff;
  padding: 5px;
  min-height: 800px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 250px 30% 40%
}

.card{
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px #eee
}
.inline{
  display: inline-block;
}
.card-title{
  height: 40px;
  line-height: 40px;
}
.item{
  display: block;
  height: 100%;
  overflow: hidden;
  background: #f5f5f6
}
.item span{
  text-align: center;
  font-size: 30px;
  height: 60px;
  display: block;
  margin-top: 40px;
}
.back{
 background: #f5f5f6;
 padding: 10px;
 margin: -10px;
 overflow: hidden;
}
.more{
  display: block;
  padding-top: 15px;
  font-size: 10px;
  text-align: right;
}