html, body{
  min-width: 1300px;
  height: 100%;
}
a{
  color: #43341b;
  text-decoration: none;
  transition: 100ms;
}
a:hover{
  color: #f6c555;
}
.manage_page{
  height: 100%;
}
#app{
  height: 100%
}
