html, body{
  min-width: 1300px;
  height: 100%;
}
a{
  color: #43341b;
  text-decoration: none;
  transition: 100ms;
}
a:hover{
  color: #f6c555;
}
.manage_page{
  height: 100%;
}
#app{
  height: 100%
}
.view{
  overflow: hidden;
  background-color: #fff;
  padding: 5px;
  height: 900px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30% 30% 40%
}

.card{
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px #eee
}