.frame{
  height:100%;
  overflow: auto;
}
.province{
  width: 300px;
  .el-cascader__label{
    display: none
  }
}
.dia{
  font-size:20px;
  display:block;
  padding-top:20px
}
#view{
  padding: 20px 20px 0 20px;
  .el-card__header{
    font-size: 20px;
    .clearfix{
      padding-left: 20px;
      border-left: 3px #409eff solid;
    }
  }
  .filter{
    .el-card__body{
      padding: 0px
    }
    .el-form{
      padding: 40px
    }
  }
  .el-table__row{
    button{
      font-size: 16px
    }
  }
}
#static{
  .el-card__header{
    font-size: 20px;
    .clearfix{
      padding-left: 20px;
      border-left: 3px #409eff solid;
    }
  }
  padding: 20px;
  .table{
    width: 80%;
    margin: 0 auto;
  }
}
